{% extends "base.html" %}

{% block content %}
<h1>Create Survey</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}
        {{ form.title() }}
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description() }}
    </div>
    <div>
        {{ form.options.label }}
        {% for option in form.options %}
            <div>
                {{ option() }}
            </div>
        {% endfor %}
    </div>
    {{ form.submit() }}
</form>
{% endblock %}